* {
    font-family: sans-serif;
}

h1 {
    color: red;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0rem;
}

section {
    padding: 1rem;
    background-color: burlywood;
}

.todo-item {
    background-color: lightgrey;
    margin: 2px;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-item span {
    flex-grow: 1;
}

.todo-item button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.done {
    text-decoration-line: line-throughs;
}

.input {
    border: solid 1 px red;
}